@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

html, body {
  margin: 0;
  padding: 0;
  overflow: 0;
}

.subtitle {
  text-transform: uppercase;
  font-family: 'Share Tech', sans-serif;
}